{% load static %}  
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% trans "Registro" %}</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	{% if is_colorblind %}
		<link rel="stylesheet" href="{% static 'auth/style_auth_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'auth/style_auth.css' %}">
	{% endif %}
</head>  
<body>
 <form class="formulario" method="POST">
    {% csrf_token %}
    <h1>{% trans "Registrate" %}</h1>
     <div class="contenedor">
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         {{form.username}}
         {% comment %} <input type="text" placeholder="Correo electrónico"> {% endcomment %}
         </div>
         <div class="input-contenedor">
         <i class="fas fa-key icon"></i>
         {{form.password1}}
         {% comment %} <input type="password" placeholder="Contraseña"> {% endcomment %}
         </div>
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
          {{form.password2}}
         {% comment %} <input type="password" placeholder="Repetir contraseña"> {% endcomment %}
         </div>
          {% for message in messages %}
					<div class="alerta" role="alert">
						<strong>{{ message }}</strong>
					</div>
					{% endfor %}
         <input type="submit" value="Registrate" class="button">
         <p>¿{% trans "Ya tienes una cuenta" %}?<a class="link" href="{% url 'ingreso' %}">{% trans "Iniciar Sesion" %}</a></p>
     </div>
    </form>
</body>
</html>