{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<title>Inicio</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰ Menú</label>
		</div>
        <!--
			<div class="logo">
				<h1>Logotipo</h1>
			</div>
			<nav class="menu">
				<a href="#">Inicio</a>
				<a href="#">Sobre nosotros</a>
			</nav>
        --------------->
		</div>
	</header>
	<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a class="link" href="denuncia.html">Realizar denuncia</a>
			<a class="link" href="curso.html">Cursos y Talleres</a>
			<a class="link" href="consulta.html">Consultas</a>
			<a class="link" href="asesor.html">Asesoramiento del MIMP</a>
			<a class="link" href="datos.html">Actualizar datos del perfil</a>
			<a href="#">Lenguaje</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>