{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
	<title>Talleres y Cursos</title>
	<link rel="stylesheet" href="{% static 'main/main.css' %}">
		
	</style>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'denuncia' %}">Realizar denuncia</a>
				<a class="link" href="{% url 'talleres' %}">Cursos y Talleres</a>
				<a class="link" href="{% url 'consulta' %}">Consultas</a>
				<a class="link" href="asesor.html">Asesoramiento del MIMP</a>
				<a class="link" href="datos.html">Actualizar datos del perfil</a>
				<a href="#">Lenguaje</a>
				<select id="selectIdioma" onchange="cambiarIdioma()">
					<option value="es">Español</option>
					<option value="en">English</option>
				</select>
				<button onclick="cambiarModoDaltonico()">Modo Daltonico</button>
				<a class="link" href="{% url 'salir' %}">Cerrar sesión</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
	<div class="container">
		<h1>Talleres y Cursos</h1>
		{% comment %} <div class="videos">
			<h2>Videos disponibles:</h2>
			<ul>
				<li><a href="video1.mp4">Video 1</a></li>
				<li><a href="video2.mp4">Video 2</a></li>
				<li><a href="video3.mp4">Video 3</a></li>
			</ul>
		</div> {% endcomment %}
		<div class="talleres">
			<h2>Talleres disponibles:</h2>
			<ul class="talleres-container">
				{% for taller in talleres %}
				<li class="talleres-item">
					<h2>{{taller.titulo}}</h2>
					<p><small>{{taller.descripcion}}</small></p>
					<iframe src="{{taller.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<form method="POST">
						{% csrf_token %}
						<input type="hidden" id="taller_id" name="taller_id" value="{{taller.id}}">
						<button type="submit">Inscribirse al taller</button>
					</form>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div id="comentarios">
		<h2>Comentarios</h2>
		<div id="comentariosLista"></div>
		<form id="formComentario" onsubmit="return agregarComentario()">
			<input id="nombreComentario" required type="text" placeholder="Nombre" maxlength="20">
			<textarea id="contenidoComentario" required placeholder="Escribe tu comentario"></textarea>
			<input type="submit" value="Enviar" class="button">
		</form>
	</div>

	{% comment %} <script>
		function inscribirTaller(idTaller) {
			console.log("Inscripción al taller " + idTaller);
		}
		function agregarComentario() {
			var nombre = document.getElementById("nombreComentario").value;
			var contenido = document.getElementById("contenidoComentario").value;

			var comentario = document.createElement("div");
			comentario.className = "comentario";
			comentario.innerHTML = "<h4>" + nombre + "</h4><p>" + contenido + "</p>";

			var comentariosLista = document.getElementById("comentariosLista");
			comentariosLista.appendChild(comentario);

			document.getElementById("nombreComentario").value = "";
			document.getElementById("contenidoComentario").value = "";
			return false;
		}
	</script> {% endcomment %}
</body>
</html>
