{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
	<title>Talleres y Cursos</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
		
	</style>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'generar_mapa' %}">Inicio</a>
				<a class="link" href="{% url 'denuncia' %}">Realizar denuncia</a>
				<a class="link" href="{% url 'talleres' %}">Cursos y Talleres</a>
				<a class="link" href="{% url 'consulta' %}">Consultas</a>
				<a class="link" href="{% url 'faq' %}">Preguntas frecuentes</a>
				<a href="#">Lenguaje</a>
				<select id="selectIdioma" onchange="cambiarIdioma()">
					<option value="es">Español</option>
					<option value="en">Quechua</option>
				</select>
				<form action="{% url 'toggle-colorblind-mode' %}" method="post">
					{% csrf_token %}
					<button type="submit">
					  {% if is_colorblind_mode %}
						Quitar modo daltónico
					  {% else %}
						Modo daltónico
					  {% endif %}
					</button>
				</form>
				<a class="link" href="{% url 'salir' %}">Cerrar sesión</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
	<div class="container">
		<h1>Talleres disponibles</h1>
		{% comment %} <div class="videos">
			<h2>Videos disponibles:</h2>
			<ul>
				<li><a href="video1.mp4">Video 1</a></li>
				<li><a href="video2.mp4">Video 2</a></li>
				<li><a href="video3.mp4">Video 3</a></li>
			</ul>
		</div> {% endcomment %}
		<div class="talleres">
			<ul class="talleres-container">
				{% for taller in talleres %}

				{% if taller.suscrito %}
				<li class="talleres-item-lg">
				{% else %}
				<li class="talleres-item">
				{% endif %}
				
					<h2>{{taller.titulo}}</h2>
					<p><small>{{taller.descripcion}}</small></p>
					<iframe src="{{taller.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<form action="" method="post">
						{% csrf_token %}
						<input type="hidden" name="taller_id" value="{{ taller.id }}">
						{% if taller.suscrito %}
							<button type="submit" name="subbutton">Desuscribirse</button>
						{% else %}
							<button type="submit" name="subbutton" class="button">Suscribirse</button>
						{% endif %}
					</form>
					{% if taller.suscrito %}
					<div id="comentarios">
						<h2>Comentario:</h2>
						<div id="comentariosLista"></div>
						<form  method="post">
							{% csrf_token %}
							<textarea name="comentario" required placeholder="Escribe tu comentario"></textarea>
							<input type="hidden" name="taller_id" value="{{ taller.id }}">
							<button type="submit" name="combutton" class="button">Enviar</button>
						</form>
					</div>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	

	{% comment %} <script>
		function inscribirTaller(idTaller) {
			console.log("Inscripción al taller " + idTaller);
		}
		function agregarComentario() {
			var nombre = document.getElementById("nombreComentario").value;
			var contenido = document.getElementById("contenidoComentario").value;

			var comentario = document.createElement("div");
			comentario.className = "comentario";
			comentario.innerHTML = "<h4>" + nombre + "</h4><p>" + contenido + "</p>";

			var comentariosLista = document.getElementById("comentariosLista");
			comentariosLista.appendChild(comentario);

			document.getElementById("nombreComentario").value = "";
			document.getElementById("contenidoComentario").value = "";
			return false;
		}
	</script> {% endcomment %}
</body>
</html>
