{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<title>Datos</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
			<form class="formulario" method="POST">
				{% csrf_token %}
				<h1>Datos personales</h1>
				<div class="contenedor">
					<div class="input-contenedor">
						<i class="fas fa-user icon"></i>
						<input id="nombre" name="nombre" required type="text" placeholder="Nombres" maxlength="20">
					</div>
					<div class="input-contenedor">
						<i class="fas fa-user icon"></i>
						<input id="apellido" name="apellido" required type="text" placeholder="Apellidos" maxlength="20">
					</div>
					<div class="input-contenedor">
						<i class="fas fa-user icon"></i>
						<input id="dni" name="dni" required type="text" placeholder="DNI" maxlength="8">
					</div>
					<div class="input-contenedor">
						<i class="fas fa-date icon"></i>
						<input id="fnacim" name="fnacim" required type="date" placeholder="Fecha de nacimiento">
					</div>
					<div class="input-contenedor">
						<i class="fas fa-phone icon"></i>
						<input id="numero" name="numero" required type="tel" placeholder="Número de teléfono" maxlength="9">
					</div>
					<input type="submit" value="Guardar" class="button">
					{% for message in messages %}
					<div class="alerta" role="alert">
						<strong>{{ message }}</strong>
					</div>
					{% endfor %}
				</div>
			</form>
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
</body>
</html>