{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<title>Denunciar</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
			<form class="formulario" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<h1>Denunciar</h1>
				<div class="contenedor">
					<p class="tipo">Tipo de denuncia</p>
					<i class="fas fa-user icon"></i>
					<select required name="tipo" id="tipo">
						<option value="1">Con datos</option>
						<option value="2">Anónima</option>
					</select>
				</div>
				<div class="contenedor">
					<p class="tipo">Motivo</p>
					<i class="fas fa-users icon"></i>
					<select required name="motivo" id="motivo">
						<option value="1">Abuso</option>
						<option value="2">Acoso</option>
						<option value="3">Maltrato</option>
					</select>
				</div>
				<div class="input-contenedor">
					<i class="fas fa-date icon"></i>
					<input required type="date" id="fecha" name="fecha" placeholder="Fecha">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-user icon"></i>
					<input required type="text" id="denunciado" name="denunciado" placeholder="Persona a denunciar">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-pencil icon"></i>
					<input required type="text" id="descripcion" name="descripcion" placeholder="Descripción">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-file icon"></i>
					<input type="file" id="evidencia" name="evidencia" multiple accept="image/*">
				</div>
				{% for message in messages %}
					<div class="alerta" role="alert">
						<strong>{{ message }}</strong>
					</div>
					{% endfor %}
				<input type="submit" value="Enviar" class="button">
				<p><a class="link" href="">Regresar</a></p>
			</form>
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'generar_mapa' %}">Inicio</a>
				<a class="link" href="{% url 'denuncia' %}">Realizar denuncia</a>
				<a class="link" href="{% url 'talleres' %}">Cursos y Talleres</a>
				<a class="link" href="{% url 'consulta' %}">Consultas</a>
				<a class="link" href="{% url 'faq' %}">Preguntas frecuentes</a>
				<a href="#">Lenguaje</a>
				<select id="selectIdioma" onchange="cambiarIdioma()">
					<option value="es">Español</option>
					<option value="en">Quechua</option>
				</select>
				<form action="{% url 'toggle-colorblind-mode' %}" method="post">
					{% csrf_token %}
					<button type="submit">
					  {% if is_colorblind_mode %}
						Quitar modo daltónico
					  {% else %}
						Modo daltónico
					  {% endif %}
					</button>
				</form>
				<a class="link" href="{% url 'salir' %}">Cerrar sesión</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
</body>
</html>