{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<title>{% trans "Denunciar" %}</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
			<form class="formulario" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<h1>{% trans "Denunciar" %}</h1>
				<div class="contenedor">
					<p class="tipo">{% trans "Tipo de denuncia" %}</p>			
					<i class="fas fa-user icon"></i>
					<select required name="tipo" id="tipo">
						<option value="1">{% trans "Con datos" %}</option>
						<option value="2">{% trans "Anónima" %}</option>
					</select>
				</div>
				<div class="contenedor">
					<p class="tipo">{% trans "Motivo" %}</p>
					<i class="fas fa-users icon"></i>
					<select required name="motivo" id="motivo">
						<option value="1">{% trans "Abuso" %}</option>
						<option value="2">{% trans "Acoso" %}</option>
						<option value="3">{% trans "Maltrato" %}</option>
					</select>
				</div>
				<div class="contenedor">
					<p class="tipo">{% trans "Departamento" %}</p>
					<select required name="departamento" id="departamento">
						<option value="1">Lima</option>
						<option value="2">Arequipa</option>
						<option value="3">Cusco</option>
						<option value="4">La Libertad</option>
						<option value="5">Piura</option>
						<option value="6">Lambayeque</option>
						<option value="7">Junín</option>
						<option value="8">Puno</option>
						<option value="9">Ancash</option>
						<option value="10">Ica</option>
						<option value="11">Tacna</option>
						<option value="12">Loreto</option>
						<option value="13">Ucayali</option>
						<option value="14">San Martín</option>
						<option value="15">Madre de Dios</option>
						<option value="16">Amazonas</option>
						<option value="17">Pasco</option>
						<option value="18">Huancavelica</option>
						<option value="19">Ayacucho</option>
						<option value="20">Tumbes</option>
						<option value="21">Moquegua</option>
						<option value="22">Huánuco</option>
						<option value="23">Apurímac</option>
						<option value="24">Cajamarca</option>
						<option value="25">Callao</option>
						<option value="26">Iquitos</option>
					</select>
				</div>
				<div class="input-contenedor">
					<i class="fas fa-date icon"></i>
					<input required type="date" id="fecha" name="fecha" placeholder="Fecha">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-user icon"></i>
					<input required type="text" id="denunciado" name="denunciado" placeholder="Persona a denunciar">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-pencil icon"></i>
					<input required type="text" id="descripcion" name="descripcion" placeholder="Descripción">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-file icon"></i>
					<input type="file" id="evidencia" name="evidencia" multiple accept="image/*">
				</div>
				{% for message in messages %}
					<div class="alerta" role="alert">
						<strong>{{ message }}</strong>
					</div>
					{% endfor %}
				<input type="submit" value="Enviar" class="button">
				<p><a class="link" href="">{% trans "Regresar" %}</a></p>
			</form>
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'generar_mapa' %}">{% trans "Inicio" %}</a>
				<a class="link" href="{% url 'denuncia' %}">{% trans "Realizar denuncia" %}</a>
				<a class="link" href="{% url 'talleres' %}">{% trans "Cursos y Talleres" %}</a>
				<a class="link" href="{% url 'consulta' %}">{% trans "Consultas" %}</a>
				<a class="link" href="{% url 'faq' %}">{% trans "Preguntas frecuentes" %}</a>
				<a href="#">{% trans "Lenguaje" %}</a>
				<form action="{% url 'cambiar_idioma' %}" method="post">
					{% csrf_token %}
					<select name="idioma" onchange="this.form.submit()">
						<option value="es">Español</option>
						<option value="en">Quechua</option>
					</select>
					<noscript>
						<button type="submit">Cambiar idioma</button>
					</noscript>
				</form>
				<form action="{% url 'toggle-colorblind-mode' %}" method="post">
					{% csrf_token %}
					<button type="submit">
					  {% if is_colorblind_mode %}
					  	{% trans "Quitar modo daltónico" %}
					  {% else %}
					  	{% trans "Modo daltónico" %}
					  {% endif %}
					</button>
				</form>
				<a class="link" href="{% url 'salir' %}">{% trans "Cerrar sesión" %}</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
</body>
</html>