{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<title>{% trans "Mapa de calor" %}</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
	
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
			<h1>{% trans "Mapa de calor" %}</h1>
			<p>{% trans "Denuncias por departamento" %}</p>
			<div class="map-container">
				{{ mapa_html|safe }}
			</div>
			
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'generar_mapa' %}">{% trans "Inicio" %}</a>
				<a class="link" href="{% url 'denuncia' %}">{% trans "Realizar denuncia" %}</a>
				<a class="link" href="{% url 'talleres' %}">{% trans "Cursos y Talleres" %}</a>
				<a class="link" href="{% url 'consulta' %}">{% trans "Consultas" %}</a>
				<a class="link" href="{% url 'faq' %}">{% trans "Preguntas frecuentes" %}</a>
				<a href="#">{% trans "Lenguaje" %}</a>
				<form action="{% url 'cambiar_idioma' %}" method="post">
					{% csrf_token %}
					<select name="idioma" onchange="this.form.submit()">
						<option value="es">Español</option>
						<option value="qu">Quechua</option>
					</select>
					<noscript>
						<button type="submit">Cambiar idioma</button>
					</noscript>
				</form>
				<form action="{% url 'toggle-colorblind-mode' %}" method="post">
					{% csrf_token %}
					<button type="submit">
					  {% if is_colorblind_mode %}
					  	{% trans "Quitar modo daltónico" %}
					  {% else %}
					  	{% trans "Modo daltónico" %}
					  {% endif %}
					</button>
				</form>
				<a class="link" href="{% url 'salir' %}">{% trans "Cerrar sesión" %}</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
</body>
</html>