{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<title>Mapa de calor</title>
	{% if is_colorblind_mode %}
		<link rel="stylesheet" href="{% static 'main/main_dalt.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'main/main.css' %}">
	{% endif %}
	
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰ Menú</label>
			</div>
			<h1>Mapa de calor</h1>
			<p>Denuncias por departamento</p>
			<div class="map-container">
				{{ mapa_html|safe }}
			</div>
			
		</div>
	</header>
	<div class="capa"></div>
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a class="link" href="{% url 'generar_mapa' %}">Inicio</a>
				<a class="link" href="{% url 'denuncia' %}">Realizar denuncia</a>
				<a class="link" href="{% url 'talleres' %}">Cursos y Talleres</a>
				<a class="link" href="{% url 'consulta' %}">Consultas</a>
				<a class="link" href="{% url 'faq' %}">Preguntas frecuentes</a>
				<a href="#">Lenguaje</a>
				<select id="selectIdioma" onchange="cambiarIdioma()">
					<option value="es">Español</option>
					<option value="en">Quechua</option>
				</select>
				<form action="{% url 'toggle-colorblind-mode' %}" method="post">
					{% csrf_token %}
					<button type="submit">
					  {% if is_colorblind_mode %}
						Quitar modo daltónico
					  {% else %}
						Modo daltónico
					  {% endif %}
					</button>
				</form>
				<a class="link" href="{% url 'salir' %}">Cerrar sesión</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>
</body>
</html>